<section id="Education">
    <h2 class="cw-section-title">FORMAÇÃO</h2>
    <div class="timeline">
        <div class="container left">
            <div class="content">
                <div class="timeline-element-title">
                    <h4>Graduação Ciência da Computação</h4>    
                </div>
                <div class="intern-timeline">
                    <div class="local-data-trab">
                        <h6>Centro Universitário de Brasília - UniCEUB</h6>
                        <h6>08/2019 - 06/2023</h6>
                    </div>
                    <div class="info-experiencia">
                        <p>
                            5º Semestre (2/2021)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <div class="timeline-element-title">
                    <h4 class="local-data-trab">Ensino Médio</h4>
                </div>
                <div class="intern-timeline">
                    <div class="local-data-trab">
                        <h6>Centro Educacional Sigma</h6>
                        <h6>2016 - 2018</h6>
                    </div>
                    <div class="info-experiencia">
                        <p>
                            
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <div class="timeline-element-title">
                    <h4>Curso Microsoft Office</h4>    
                </div>
                <div class="intern-timeline">
                    <div class="local-data-trab">
                        <h6>Dytz Informática</h6>
                        <h6>2013</h6>
                    </div>
                    <div class="info-experiencia">
                        <p>
                            Aprendi a mexer com o Office (Word, PowerPoint e Execel),
                            Windows, Internet, e o incluía um curso de digitação.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>