<header>
    <nav>
        <ul id="cw-list-menu">
            <li class="cw-element-list-menu">
                <a href="#cw-name" class="cw-link-menu">Sobre Mim</a>
            </li>
            <li class="cw-element-list-menu">
                <a href="#Experience" class="cw-link-menu">Experiência</a>
            </li>
            <li class="cw-element-list-menu">
                <a href="#Skills" class="cw-link-menu">Habilidades</a>
            </li>
            <li class="cw-element-list-menu">
                <a href="#Education" class="cw-link-menu">Formação Acadêmica</a>
            </li>
            <li class="cw-element-list-menu">
                <a href="#Contact" class="cw-link-menu">Contato</a>
            </li>
        </ul>
    </nav>
</header>