<section id="Experience">
    <h2 class="cw-section-title">EXPERIÊNCIAS</h2>
    <div class="timeline">
        <div class="container right">
            <div class="content">
                <div class="timeline-element-title">
                    <h4>Gerente de Qualidade de Software</h4>    
                </div>
                <div class="intern-timeline">
                    <div class="local-data-trab">
                        <h6>Controladoria Geral do Distrito Federal</h6>
                        <h6>08/2021 - Atual</h6>
                    </div>
                    <div class="info-experiencia">
                        <p>
                            Trabalho desenvolvendo sistemas web para a CGDF 
                            e outros órgãos utilizando técnicas de 
                            desenvolvimento ágil. Sistemas baseados nas 
                            Linguagens: C-Sharp e JavaScript e com utilização 
                            de Frameworks como .Net, Angular e AngularJS. 
                            Foco em sempre atender da melhor maneira as 
                            necessidades dos usuários e garantindo a qualidade
                            e segurança do sistema.
                        </p>
                    </div>
            </div>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <div class="timeline-element-title">
                    <h4>Estagiário em Desenvolvimento Web</h4>    
                </div>
                <div class="intern-timeline">
                    <div class="local-data-trab">
                        <h6>Controladoria Geral do Distrito Federal</h6>
                        <h6>12/2020 - 08/2021</h6>
                    </div>
                    <div class="info-experiencia">
                        <p>
                            Na CGDF desenvolvemos sistemas web para o 
                            órgão. Trabalhamos com a linguagem C# para 
                            o Back-End e JavaScript para o Front-End. 
                            Utilizamos os Frameworks .Net, AngularJS e 
                            Bootstrap.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <div class="timeline-element-title">
                    <h4 class="local-data-trab">Estagiário em Suporte Técnico</h4>
                </div>
                <div class="intern-timeline">
                    <div class="local-data-trab">
                        <h6>Controladoria Geral do Distrito Federal</h6>
                        <h6>02/2020 - 12/2020</h6>
                    </div>
                    <div class="info-experiencia">
                        <p>
                            Atuei como estagiário no órgão público CGDF, 
                            no qual disponibilizamos suporte técnico 
                            aos servidores de tal órgão. Trabalhando em
                            questões como resolução de problemas dos usuários, 
                            formatação de computadores, ajuste em problemas de rede,
                            entre outros.
                            
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <div class="timeline-element-title">
                    <h4>Técnico de Informática</h4>    
                </div>
                <div class="intern-timeline">
                    <div class="local-data-trab">
                        <h6>Autônomo</h6>
                        <h6>04/2020 - 12/2020</h6>
                    </div>
                    <div class="info-experiencia">
                        <p>
                            Trabalhei como autônomo recebendo
                            computadores e fazendo sua manutenção,
                            formatação, limpeza, instalação de 
                            programas e montagem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <div class="timeline-element-title">
                    <h4 class="local-data-trab">Professor-Aluno</h4>
                </div>
                <div class="intern-timeline">
                    <div class="local-data-trab">
                        <h6>UniCEUB - Brasília</h6>
                        <h6>06/2019 - 12/2019</h6>
                    </div>
                    <div class="info-experiencia">
                        <p>
                            Projeto voluntário ministrado no UniCEUB 
                            por um professor da universidade. Neste 
                            projeto chamado "Inclusão Digital para a 
                            Comunidade", fui um dos professores, no 
                            qual monitoramos aulas sobre o Pacote Office,
                            Internet e Mobile. O curso durou um semestre, 
                            tendo suas aula todos os sábados das 9h às 12h
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>