<section id="Skills">
    <h2 class="cw-section-title">HABILIDADES</h2>
    <div id="cw-conteiner-all-skills">
        <span class="cw-conteiner-skill">
            <h3>Profissional</h3>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">C-Sharp</span>
                <span class="progress-bar-value">80%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">JavaScript</span>
                <span class="progress-bar-value">70%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">HTML e CSS</span>
                <span class="progress-bar-value">70%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">Python</span>
                <span class="progress-bar-value">60%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">Microsoft Office</span>
                <span class="progress-bar-value">80%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </span>
        <span class="cw-conteiner-skill">
            <h3>Pessoal</h3>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">Pontualidade</span>
                <span class="progress-bar-value">100%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">Comprometimento</span>
                <span class="progress-bar-value">100%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">Facilidade de Aprendizado</span>
                <span class="progress-bar-value">90%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">Liderança</span>
                <span class="progress-bar-value">70%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">Comunicação</span>
                <span class="progress-bar-value">70%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </span>
        <span class="cw-conteiner-skill">
            <h3>Línguas</h3>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">Português (nativo)</span>
                <span class="progress-bar-value">100%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">Inglês</span>
                <span class="progress-bar-value">70%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="progress-bar-title">
                <span class="progress-bar-skill">Espanhol</span>
                <span class="progress-bar-value">40%</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </span>
    </div>
</section>