<section id="cw-name">
    <h1 id="cw-title-name">João Gabriel Barreto Cardoso</h1>
</section>
<section id="profile">
    <img src="assets/imagens/foto-curriculo.jpeg" alt="foto de perfil do currículo" width="200px" height="200px">
          <div>
              <a href="#Contact">
              <button type="button" class="btn btn-primary btn-lg">CONTATO</button>
              </a>
              <p id="cw-text-about">Meu nome é João Gabriel, tenho 20 anos, atualmente atuo como Gerente de Qualidade de Software 
                  na Controladoria Geral do Distrito Federal. Faço o curso Ciência da Computação no UniCEUB e estou no 5º semestre (2/21).
                  Procuro ampliar minha experiência na área da computação como desenvolvedor. 
                  Gosto de estar sempre aprendendo novas coisas e aprimorando meus conhecimentos.
              </p>
          </div>
</section>